<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>

    <div class="index">
            <header class="header">
                <div class="title">
                    <h2>Controle de Estoque</h2>
                </div>
            </header>

            <div class="main">
                <div class="sidebar pl-3">
                    <p>
                        <h4>
                            <a href="/newComida">Formulário Registro</a>
                        </h4>
                    </p>
                    <p>
                        <h4>
                            <a href="/indexProduto">Produtos</a>
                        </h4>
                    </p>
                    <p>
                        <h4>
                            <a href="/newProduto">Formulário Produto</a>
                        </h4>
                    </p>
                    <p>
                        <h4>
                            <a href="/indexProdutoQuantidade">Quantidade Produtos</a>
                        </h4>
                    </p>
                </div>

                <div class="content">
                    <div class="part-1">
                        <a href="indexComida" class="every">
                            <h1>
                                TODOS
                            </h1>
                        </a>
                        <a href="indexComidaEntrada" class="input">
                            <h1>
                                ENTRADA
                            </h1>
                        </a>
                        <a href="indexComidaSaida" class="output">
                            <h1>
                                SAÍDA
                            </h1>
                        </a>
                    </div>
                    <div class="part-2">
                        <div class="last-5-input">
                            <main>
                                <% if (!entrada || entrada.length == 0) { %>
                                    <div>
                                        <h4>Sem nenhum registro</h4>
                                    </div>
                                <% } else { 
                                    entrada.forEach(function(comida, index) { %>
                                    <div class="registro mt-3">
                                        <div class="box" style="border: 3px solid #2ab32a ;">
                                            <div class="registro">
                                                Registro
                                                <center class="infos">
                                                    <%= comida.ID_CONSUMO %>
                                                </center>
                                            </div>
                                            <div class="produto">
                                                Produto
                                                <center class="infos">
                                                    <%= comida.NOME_PRODUTO %>
                                                </center>
                                            </div>
                                            <div class="movimentacao">
                                                Movimentação
                                                <center class="infos">
                                                    <%= comida.NOME_CONSUMO %>
                                                </center>
                                            </div>
                                            <div class="quantidade">
                                                Quantidade
                                                <center class="infos">
                                                    <%= comida.QUANTIDADE_CONSUMO %>
                                                </center>
                                            </div>
                                            <div class="motivo">
                                                Data
                                                <center class="infos">
                                                  <% var formatter = new Intl.DateTimeFormat('pt-BR') %>
                                                  <%= formatter.format(comida.DATA_CONSUMO) %>
                                                </center>
                                              </div>
                                        </div>
                                    </div>
                                <% })} %>
                            </main>
                        </div>
                        
                        <div class="last-5-output">
                            <main>
                                <% if (!saida || saida.length == 0) { %>
                                    <div>
                                        <h4>Sem nenhum registro</h4>
                                    </div>
                                <% } else { 
                                    saida.forEach(function(comida, index) { %>
                                    <div class="registro mt-3">
                                        <div class="box" style="border: 3px solid red;">
                                            <div class="registro">
                                                Registro
                                                <center class="pt-2">
                                                    <%= comida.ID_CONSUMO %>
                                                  </center>
                                            </div>
                                            <div class="produto">
                                                Produto
                                                <center class="pt-2">
                                                    <%= comida.NOME_PRODUTO %>
                                                  </center>
                                            </div>
                                            <div class="movimentacao">
                                                Movimentação
                                                <center class="pt-2">
                                                    <%= comida.NOME_CONSUMO %>
                                                  </center>
                                            </div>
                                            <div class="quantidade">
                                                Quantidade
                                                <center class="pt-2">
                                                    <%= comida.QUANTIDADE_CONSUMO %>
                                                  </center>
                                            </div>
                                            <div class="motivo">
                                                Data
                                                <center class="pt-2">
                                                  <% var formatter = new Intl.DateTimeFormat('pt-BR') %>
                                                  <%= formatter.format(comida.DATA_CONSUMO) %>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                <% })} %>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>

  </body>
</html>
